
  <div class="box box-primary">
     <a routerLink="users/create" style="margin-top: 4px; margin-left: 5px;" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-plus"></i>Добавить</a>
    <div class="box-body no-padding">
      <table class="table table-striped">
        <tr>
          <th>Имя</th>
        </tr>
        <tr routerLink="users/{{user.id}}" *ngFor="let user of users">
          <td>{{user.name}}</td>
        </tr>
      </table>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
