<div class="input-group">
  <select class="form-control" [disabled]="disabled" [(ngModel)]="service" (change)="onChange($event.target.value)">
    <option *ngFor="let record of data; trackBy: trackById" [value]="record.id">{{record.name}}</option>
  </select>
  <span class="input-group-btn">
    <a *ngIf="service" class="btn btn-flat" routerLink="/clients/{{client}}/service/{{service.id}}"><i class="fa fa-sliders"></i></a>
    <a class="btn btn-flat" routerLink="/clients/{{client}}/create"><i class="fa fa-plus-circle"></i></a>
  </span>
</div>