<section class="content">
    <!-- Custom tabs (Charts with tabs)-->
    <div class="nav-tabs-custom">
        <!-- Tabs within a box -->
        <ul class="nav nav-tabs pull-right">
            <li class="pull-left header"><i class="fa fa-child"></i>Клиенты</li>
            <a routerLink="create" style="margin-top: 4px; margin-right: 5px;" class="btn btn-primary pull-right btn-sm"><i class="glyphicon glyphicon-plus"></i>Добавить заявку</a>
        </ul>
        <div class="tab-content no-padding">
            <!-- Morris chart - Sales -->
            <div class="chart tab-pane active" style="position: relative;">
                <div class="box  box-primary">
                    <div class="box-body no-padding">
                        <table class="table table-striped">
                            <tr>
                                <th>Имя</th>
                            </tr>
                            <tr routerLink="{{client.id}}" *ngFor="let client of clients">
                                <td>{{client.name}}</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </div>
</section><!-- /.content -->