<section class="content">
    <!-- Custom tabs (Charts with tabs)-->
    <div class="nav-tabs-custom">
        <!-- Tabs within a box -->
        <ul class="nav nav-tabs pull-right">
            <li><a href="#file" data-toggle="tab">Файлы</a></li>
            <li><a href="#work" data-toggle="tab">Работы</a></li>
            <li class="active"><a href="#description" data-toggle="tab">Описание</a></li>
            <li class="pull-left header"><i class="fa"></i> Заявка №{{ticket.ticketNumber}}</li>
        </ul>
        <div class="tab-content no-padding">
            <!-- Morris chart - Sales -->
            <div class="chart tab-pane active" id="description" style="position: relative; height: 300px;">
                <!-- general form elements -->
                <div class="box box-primary">
                    <!-- form start -->
                    <div class="box-body">
                        <div class="form-group">
                            <label for="requestDate">Клиент</label>
                            <span>{{ticket.client.name}}</span>
                        </div>
                        <div class="form-group">
                            <label for="address">Адрес</label>
                            <span>{{ticket.address.name}}: {{ticket.address.address}}</span>
                        </div>
                        <div class="form-group">
                            <label for="user">Заявитель</label>
                            <span>{{ticket.user.name}}</span>
                        </div>
                        <div class="form-group">
                            <label for="requestDate">Дата подачи заявки</label>
                            <span>{{ticket.requestDate | date: 'dd.MM.yyyy HH:mm'}}</span>
                        </div>
                        <div class="form-group">
                            <label for="description">Описание</label>
                            <span>{{ticket.description}}</span>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-default" (click)="onClickBack()"><i class="glyphicon glyphicon-menu-left"></i> Отменить</button>
                        <a routerLink="jobs/create" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Создать работу</a>
                        <a routerLink="files/create" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Загрузить файл</a>
                        <button type="submit" class="btn btn-primary pull-right" (click)="onUpdate()"><i class="fa fa-floppy-o"></i> Сохранить</button>
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <div class="chart tab-pane" id="file" style="position: relative; ">
                <app-file-list></app-file-list>
            </div>

            <div class="chart tab-pane" id="work" style="position: relative; height: 300px;">
                <app-job-list *ngIf="this.route.snapshot.data['jobs'].length > 0"></app-job-list>
            </div>
        </div>
    </div>
</section><!-- /.content -->

