<div class="box box-style">
  <hr class="hr-header ">
      <div class="box-header with-border">
          <a routerLink="contracts/create" class="btn btn-primary btn-flat btn-sm"><i class="glyphicon glyphicon-plus"></i>Добавить</a>
      </div>
  <hr class="hr-body">
  <div class="box-body no-padding">
    <table class="table table-hover">
      <tr class="tr-style">
        <th>Номер</th>
        <th>Дата</th>
        <th>Клиент</th>
      </tr>
      <tr routerLink="contracts/{{item.id}}" *ngFor="let item of data; trackBy: trackById" class="tr-cursor">
        <td>{{item.number}}</td>
        <td>{{item.date | date: 'dd.MM.yyyy'}}</td>
        <td>{{item.client.Name}}</td>
      </tr>
    </table>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
