 <!-- general form elements -->
<div class="tab-content no-padding">
  <div class="box box-primary">
      <table class="table table-striped">
        <tr>
          <th>Сервисная компания</th>
          <th>Исполнитель</th>
          <th>Описание</th>
          <th>Дата назначения</th>
          <th>Дата выполнения</th>
        </tr>
        <tr routerLink="jobs/{{job.id}}" *ngFor="let job of jobs">
          <td>{{job.client.name}}</td>
          <td>{{job.user.name}}</td>
          <td>{{job.description}}</td>
          <td>{{job.startDate | date: 'dd.MM.yyyy HH:mm'}}</td>
          <td>{{job.completeDate | date: 'dd.MM.yyyy HH:mm'}}</td>
        </tr>
      </table>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
