
  <hr class="hr-header">
  <div class="box box-style">
    <div class="box-header with-border ">
      <button type="submit" class="btn btn-default btn-sm btn-flat" (click)="onClickBack()"><i class="glyphicon glyphicon-menu-left"></i> Назад</button>
       <a routerLink="jobs/create" class="btn btn-primary btn-sm btn-flat"><i class="glyphicon glyphicon-plus"></i> Создать работу</a>
   </div>
   <div class="box-body no-padding">
      <table class="table table-hover">
         <thead class="thead-inverse">
        <tr class="tr-style">
          <th>Сервисная компания</th>
          <th>Исполнитель</th>
          <th>Описание</th>
          <th>Дата назначения</th>
          <th>Дата выполнения</th>
        </tr>
         </thead>
        <tr routerLink="jobs/{{job.id}}" *ngFor="let job of jobs" class="tr-cursor">
          <td>{{job.client.name}}</td>
          <td>{{job.user.name}}</td>
          <td>{{job.description}}</td>
          <td>{{job.startDate | date: 'dd.MM.yyyy HH:mm'}}</td>
          <td>{{job.completeDate | date: 'dd.MM.yyyy HH:mm'}}</td>
        </tr>
      </table>
     </div>
         <!-- /.box-body -->
    </div>
  <!-- /.box -->
