<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    {{job.name}}
    <small></small>
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <!-- general form elements -->
  <div class="box box-primary">
    <!-- form start -->
    <form role="form">
      <div class="box-body">
        <div class="form-group">
          <label for="supplier">Сервисная компания</label>
          <app-supplier-select [(supplier)]="job.supplierId"></app-supplier-select>
        </div>
        <div class="form-group">
          <label for="user">Исполнитель</label>
          <app-supplier-user-select [(supplier)]="job.supplierId" [(user)]="job.userId"></app-supplier-user-select>
        </div>
        <div class="form-group">
          <label for="description">Описание</label>
          <textarea class="form-control" rows="3" [(ngModel)]="job.description" name="description" placeholder="Опишите проблему ..." required></textarea>
        </div>
      </div>
      <!-- /.box-body -->

      <div class="box-footer">
        <button type="submit" class="btn btn-default" (click)="onClickBack()"><i class="glyphicon glyphicon-menu-left"></i> Отменить</button>

        <button type="submit" class="btn btn-info pull-right" (click)="onUpdate()"><i class="glyphicon glyphicon-save"></i> Сохранить</button>
      </div>
    </form>
  </div>
  <!-- /.box -->

</section><!-- /.content -->
