<section class="content">
    <!-- Custom tabs (Charts with tabs)-->
    <div class="nav-tabs-custom">
        <!-- Tabs within a box -->
        <ul class="nav nav-tabs pull-right">
            <li>
                <a href="#employees" data-toggle="tab">Сотрудники</a>
            </li>
            <li >
                <a href="#contacts" data-toggle="tab">Контакты</a>
            </li>
             <li class="active">
                <a href="#main" data-toggle="tab">Остновное</a>
            </li>
            <li class="pull-left header"><h4> {{user.name}} </h4></li>
        </ul>
        <div class="tab-content no-padding">
            <!-- Morris chart - Sales -->
            <div class="chart tab-pane active chart-style" id="main">
                <!-- general form elements -->
                 <hr class="hr-header">
                <div class="box box-style">
                    <!-- form start -->
                    <div class="box-body">
                        <div class="form-group">
                            <label for="name">Имя</label>
                            <input type="text" class="form-control" name="name" [(ngModel)]="user.name">
                        </div>
                        <div class="form-group">
                            <label for="name">Фамилия</label>
                            <input type="text" class="form-control" name="f" [(ngModel)]="user.name" placeholder="Фамилия">
                        </div>
                        <div class="form-group">
                            <label for="name">Отчество</label>
                            <input type="text" class="form-control" name="o" [(ngModel)]="user.name" placeholder="Отчество">
                        </div>
                        <div class="form-group">
                            <label for="name">Логин</label>
                            <input type="text" class="form-control" name="l" [(ngModel)]="user.name" placeholder="Логин">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Заблокирован
                            </label>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <hr class="hr-body">
                    <div class="box-footer">
                        <button type="submit" class="btn btn-default btn-sm btn-flat" (click)="onClickBack()"><i class="glyphicon glyphicon-menu-left"></i> Назада</button>
                        <button type="submit" class="btn btn-danger btn-sm btn-flat" (click)="onDelete()"><i class="glyphicon glyphicon-remove"></i> Удалить</button>

                        <button type="submit" class="btn btn-primary pull-right btn-sm btn-flat" (click)="onUpdate()"><i class="glyphicon glyphicon-floppy-disk"></i> Сохранить</button>
                    </div>
                </div>
                <!-- /.box -->
            </div>
             <div class="chart tab-pane chart-style" id="contacts">
                 <!-- general form elements -->
                <hr class="hr-header">
                    <div class="box-header with-border">
          <button type="submit" class="btn btn-default btn-sm btn-flat" (click)="onClickBack()"><i class="glyphicon glyphicon-menu-left"></i> Назада</button>
                         <a class="btn btn-default btn-sm btn-flat"><i class="glyphicon glyphicon-plus"></i> Добавить контакт</a>
    </div>
    <hr class="hr-body">
                <div class="box box-style">
                    <!-- /.box-body -->
                   <div class="box-body">
                <table id="example2" class="table table-hover">
                <thead>
                <tr class="tr-style">
                  <th style="width: 180px">Тип контакта</th>
                  <th>Контакт</th>
                  <th style="width: 60px">Статус</th>
                </tr>
                </thead>
                <tbody>
                <tr class="tr-cursor">
                  <td>Email</td>
                  <td>test@test.ru</td>
                  <td>Активный</td>
                </tr>
                <tr class="tr-cursor">
                  <td>Факс</td>
                  <td>89151111111</td>
                  <td>Заблокированный </td>
                </tr>
                <tr class="tr-cursor">
                  <td>Телефон</td>
                  <td>89151111111</td>
                   <td>Активный</td>
                </tr>
                </tbody>             
              </table>
            </div>

                </div>
                <!-- /.box -->
            </div>
            <div class="chart tab-pane chart-style" id="employees">
                <!-- general form elements -->
                <hr class="hr-header">
                <div class="box box-style">
                    <!-- form start -->
                    <div class="box-body">
                        <div class="form-group">
                            <label for="name">Таб номер</label>
                            <input type="text" class="form-control" name="name" [(ngModel)]="user.name" placeholder="Таб номер">
                        </div>
                        <div class="form-group">
                            <label for="name">График работы</label>
                            <input type="text" class="form-control" name="f" [(ngModel)]="user.name" placeholder="График работы">
                        </div>
                        <div class="form-group">
                            <label for="name">Календарь </label>
                            <input type="text" class="form-control" name="o" [(ngModel)]="user.name" placeholder="Календарь ">
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <hr class="hr-body">
                    <div class="box-footer">
                        <button type="submit" class="btn btn-default btn-sm btn-flat" (click)="onClickBack()"><i class="glyphicon glyphicon-menu-left"></i> Назада</button>
                        <button type="submit" class="btn btn-primary pull-right btn-sm btn-flat" (click)="onUpdate()"><i class="glyphicon glyphicon-floppy-disk"></i> Сохранить</button>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </div>
</section><!-- /.content -->
