<div class="input-group">
  <select class="form-control" [disabled]="disabled" [(ngModel)]="supplier" (change)="onChange($event.target.value)">
    <option *ngFor="let record of data" [ngValue]="record">{{record.name}}</option>
  </select>
  <span class="input-group-btn">
    <a *ngIf="supplier" class="btn btn-flat" routerLink="/service/suppliers/{{supplier}}"><i class="fa fa-sliders"></i></a>
    <a class="btn btn-flat" routerLink="/service/suppliers/create"><i class="fa fa-plus-circle"></i></a>
  </span>
</div>