<!-- Main content -->
<section class="content">

  <!-- general form elements -->
  <div class="box box-primary">
    <!-- form start -->
    <form role="form">
      <div class="box-body">
        <div class="form-group">
          <label for="client">Сервисная компания</label>
          <span>{{job.client.name}}</span>
        </div>
        <div class="form-group">
          <label for="user">Исполнитель</label>
          <span>{{job.user.name}}</span>
        </div>
        <div class="form-group">
          <label for="startDate">Дата назначения</label>
          <span>{{job.startDate | date: 'dd.MM.yyyy HH:mm'}}</span>
        </div>
        <div class="form-group">
          <label for="description">Описание</label>
          <span>{{job.description}}</span>
        </div>
      </div>
      <!-- /.box-body -->

      <div class="box-footer">
        <button type="submit" class="btn btn-default" (click)="onClickBack()"><i class="glyphicon glyphicon-menu-left"></i> Отменить</button>
        <button type="submit" class="btn btn-danger" (click)="onDelete()"><i class="glyphicon glyphicon-remove"></i> Удалить</button>

        <app-status-button [(baseUri)]="statusUri" [(referenceId)]="job.id"></app-status-button>

        <button type="submit" class="btn btn-info pull-right" (click)="onUpdate()"><i class="glyphicon glyphicon-save"></i> Сохранить</button>
      </div>
    </form>
  </div>
  <!-- /.box -->

</section><!-- /.content -->
