  <div class="box box-primary">
    <div class="box-body no-padding">
      <a routerLink="address/create" style="margin-top: 4px; margin-left: 5px;" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-plus"></i>Добавить</a>
      <table class="table table-striped">
        <tr>
          <th>Наименование</th>
          <th>Адрес</th>
        </tr>
        <tr routerLink="address/{{a.id}}" *ngFor="let a of address">
          <td>{{a.name}}</td>
          <td>{{a.address}}</td>
        </tr>
      </table>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
 