<section class="content">
    <!-- Custom tabs (Charts with tabs)-->
    <div class="nav-tabs-custom">
        <!-- Tabs within a box -->
        <ul class="nav nav-tabs pull-right">
            <li class="active">
                <a href="#description" data-toggle="tab">Описание</a>
            </li>            
            <li class="pull-left header"><h4> {{data.name}} </h4></li>
        </ul>
        <div class="tab-content no-padding">
            <!-- Morris chart - Sales -->            
                <hr class="hr-header">
                <!-- general form elements -->
                <div class="box box-style">
                
                    <!-- form start -->
                    <div class="box-body">
                        <div class="form-group">
                            <label for="supplierId">Сервисная компания</label>
                            <app-supplier-select [(value)]="data.supplierId" (change)="onSupplierChange($event.target.value)" disabled="isDisabled"></app-supplier-select>
                        </div>
                        <div class="form-group">
                            <label for="workerId">Исполнитель</label>
                            <app-user-select [(reference)]="data.supplierId" [(value)]="data.workerId" (change)="onWorkerChange($event.target.value)" disabled="isDisabled" ></app-user-select>
                        </div>
                        <div class="form-group">
                            <label for="startDate">Дата начала работ</label>
                            <input type="datetime-local" class="form-control" name="startDate" [(ngModel)]="workStartDate" required disabled="isDisabled" /> 
                        </div>
                        <div class="form-group">
                            <label for="endDate">Дата завершения работ</label>
                            <input type="datetime-local" class="form-control" name="endDate"  [(ngModel)]="workEndDate" required [disabled]="workEndDate" /> 
                        </div>
                        <div class="form-group">
                            <label for="description">Описание</label>
                            <textarea class="form-control" rows="3" [(ngModel)]="data.description" name="description" placeholder="Опишите проблему ..." required></textarea>
                        </div> 
                        <div class="form-group">
                            <label for="statusId">Статус</label>
                            <app-work-status-select [(value)]="data.statusId" (change)="onStatusChange($event.target.value)"> </app-work-status-select>
                        </div><!---->
                    </div>
                    <!-- /.box-body -->
                    <hr class="hr-body">
                    <div class="box-footer">
                        <button type="submit" class="btn btn-default btn-sm btn-flat" (click)="onClickBack()"><i class="glyphicon glyphicon-menu-left"></i> Назад</button>
                        <button type="submit" class="btn btn-danger btn-sm btn-flat" (click)="onDelete()"><i class="glyphicon glyphicon-remove"></i> Удалить</button>

                        <button type="submit" class="btn btn-primary pull-right btn-sm btn-flat" (click)="onUpdate()"><i class="glyphicon glyphicon-floppy-disk"></i> Сохранить</button>
                      </div>
                </div>
                <!-- /.box -->
            </div> 
    </div>
</section><!-- /.content  -->

