    <div class="box box-primary">
            <table id="example"  class="table table-bordered table-hover">
                <thead>
                    <tr>                       
                        <th>Имя файла</th>
                    </tr>
                </thead>
                <tbody>                     
                    <tr (click)="onClick(file)" *ngFor="let file of files">
                    
                        <td>{{file.name}}</td>
                    </tr>
                </tbody>
            </table>
    </div>
   
