<section class="content">
    <!-- Custom tabs (Charts with tabs)-->
    <div class="nav-tabs-custom">
        <!-- Tabs within a box -->
        <ul class="nav nav-tabs pull-right">
            <li><a href="#address" data-toggle="tab">Адреса</a></li>
            <li><a href="#persons" data-toggle="tab">Персоны</a></li>
            <li class="active"><a href="#description" data-toggle="tab">Клиенты</a></li>
            <li class="pull-left header"><i class="fa"></i> {{client.name}}</li>
        </ul>
        <div class="tab-content no-padding">
            <!-- Morris chart - Sales -->
            <div class="chart tab-pane active" id="description" style="position: relative;">
                <!-- general form elements -->
                <div class="box box-primary">
                    <!-- form start -->
                    <div class="box-body">
                        <div class="form-group">
                            <label for="name">Имя</label>
                            <input type="text" class="form-control" name="name" [(ngModel)]="client.name">
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-default" (click)="onClickBack()"><i class="glyphicon glyphicon-menu-left"></i> Отменить</button>
                        <button type="submit" class="btn btn-danger" (click)="onDelete()"><i class="glyphicon glyphicon-remove"></i> Удалить</button>
                        <button type="submit" class="btn btn-primary pull-right" (click)="onUpdate()"><i class="fa fa-floppy-o"></i> Сохранить</button>
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <div class="chart tab-pane" id="address" style="position: relative;">
                 <app-address-list></app-address-list>
            </div>

            <div class="chart tab-pane" id="persons" style="position: relative;">
               <app-user-list></app-user-list>              
            </div>
        </div>
    </div>
</section><!-- /.content -->
