<section class="content">
    <!-- Custom tabs (Charts with tabs)-->
    <div class="nav-tabs-custom">
        <!-- Tabs within a box -->
        <ul class="nav nav-tabs pull-right">
            <li><a [routerLink]="['/clients', client.id]" fragment="address" class="tab" data-toggle="tab">Адреса <span *ngIf="address_length > 0" class="badge bg-red" [innerHTML]="address_length"></span></a></li>
            <li><a [routerLink]="['/clients', client.id]" fragment="persons" class="tab" data-toggle="tab">Персоны <span *ngIf="user_length > 0" class="badge bg-red" [innerHTML]="user_length"></span></a></li>
            <li><a [routerLink]="['/clients', client.id]" fragment="units" class="tab" data-toggle="tab">Орг. структура <span *ngIf="unit_length > 0" class="badge bg-red" [innerHTML]="unit_length"></span></a></li>
            <li class="active"><a [routerLink]="['/clients', client.id]" fragment="description" data-toggle="tab">Клиенты</a></li>
            <li class="pull-left header"><h4> {{client.name}}</h4></li>
        </ul>
        <div class="tab-content no-padding">
            <!-- Morris chart - Sales -->
            <div class="chart tab-pane active chart-style" id="description">
                <!-- general form elements -->
                <hr class="hr-header">
                <div class="box box-style">
                    <!-- form start -->
                    <div class="box-body">
                        <div class="form-group">
                            <label for="name">Имя</label>
                            <input type="text" class="form-control" name="name" [(ngModel)]="client.name">
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <hr class="hr-body">
                    <div class="box-footer">
                        <button type="submit" class="btn btn-default btn-sm btn-flat" (click)="onClickBack()"><i class="glyphicon glyphicon-menu-left"></i> Назад</button>
                        <button type="submit" class="btn btn-danger btn-sm btn-flat" (click)="onDelete()"><i class="glyphicon glyphicon-remove"></i> Удалить</button>
                        <button type="submit" class="btn btn-primary pull-right btn-sm btn-flat" (click)="onUpdate()"><i class="fa fa-floppy-o"></i> Сохранить</button>
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <div class="chart tab-pane chart-style" id="address">
                 <app-address-list [(referenceId)]="client.id" [(count)]="address_length" (change)="onAddressListChange($event.target.value)"></app-address-list>
            </div>

            <div class="chart tab-pane chart-style" id="persons" >
               <app-user-list [(referenceId)]="client.id" [(count)]="user_length" (change)="onUserListChange($event.target.value)"></app-user-list>              
            </div>

            <div class="chart tab-pane chart-style" id="units" >
               <app-unit-list [(referenceId)]="client.id" [(count)]="unit_length" (change)="onUnitListChange($event.target.value)"></app-unit-list>              
            </div>
        </div>
    </div>
</section><!-- /.content -->
