<div class="box box-style">
  <hr class="hr-header ">
      <div class="box-header with-border">
          <a routerLink="units/create" class="btn btn-primary btn-flat btn-sm"><i class="glyphicon glyphicon-plus"></i>Добавить</a>
      </div>
  <hr class="hr-body">
  <div class="box-body no-padding">
    <table class="table table-hover">
      <tr class="tr-style">
        <th>Наименование</th>
      </tr>
      <tr routerLink="units/{{a.id}}" *ngFor="let a of unit" class="tr-cursor">
        <td>{{a.name}}</td>
      </tr>
    </table>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
