<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Создание заявки
    <small></small>
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <!-- general form elements disabled -->
  <div class="box box-warning">

    <div class="box-body">
      <form role="form">

        <app-store-select name="storeId" [store]="storeId" required></app-store-select>

        <!-- textarea -->
        <div class="form-group">
          <label>Описание</label>
          <textarea class="form-control" rows="3" [(ngModel)]="comments" name="comments" placeholder="Опишите проблему ..." required></textarea>
        </div>

      </form>
    </div>
    <!-- /.box-body -->

    <div class="box-footer">
      <button type="submit" class="btn btn-default" (click)="onClickBack()">Отмена</button>
      <button type="submit" class="btn btn-info pull-right" (click)="onSave()">Подать заявку</button>
    </div>
    <!-- /.box-footer -->
  </div>
  <!-- /.box -->

</section><!-- /.content -->

