<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Услуги
    <small><a routerLink="create"><i class="glyphicon glyphicon-plus"></i> Добавить</a></small>
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <div class="box">
    <div class="box-body no-padding">
      <table class="table table-striped">
        <tr>
          <th>Имя</th>
        </tr>
        <tr routerLink="{{service.id}}" *ngFor="let service of service">
          <td>{{service.name}}</td>
        </tr>
      </table>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->

</section><!-- /.content -->