/* You can add global styles to this file, and also import other style files */
  .hr-header {
        border: none; /* Убираем границу */
        background-color: #3c8dbc; /* Цвет линии */
        color: #3c8dbc; /* Цвет линии для IE6-7 */
        height: 2px; /* Толщина линии */
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .hr-body {
        border: none; /* Убираем границу */
        background-color: #90CAF9; /* Цвет линии */
        color: #90CAF9; /* Цвет линии для IE6-7 */
        height: 1px; /* Толщина линии */
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
        background-color: #E3F2FD;
    }

    .box-style {
        border-top-color: rgb(255, 255, 255); 
        margin-bottom: 0px;   
        border-top-width: 0px;   
    }
    .box-header-style {
         padding-bottom: 0px; 
        padding-top: 0px;
     }
    .h4{
        margin-top: 0px;        
        margin-bottom: 0px;
        
        }
    .tr-style {
        background-color: #E3F2FD;
        border-top-color: #BBDEFB;
        border-top-style: solid;
        border-top-width: 1px;
       
    }
    .tr-cursor {
        cursor: pointer;
    }

    .th-number {
        width: 10px
    }
    .th-claim-date {
        width: 130px
    }

    .mailbox-style{
        padding-top: 10px; 
        padding-left: 10px; 
        padding-bottom: 10px; 
        padding-right: 10px;
        border-top-color: #90CAF9;
        border-top-style: solid;
        border-top-width: 1px;
    }