<section class="content">
    <!-- Custom tabs (Charts with tabs)-->
    <div class="nav-tabs-custom">
        <!-- Tabs within a box -->
        <ul class="nav nav-tabs pull-right">          
            <li class="pull-left header"><h4> Новый приоритет заявок</h4></li>
        </ul>
        <div class="tab-content no-padding">
            <!-- Morris chart - Sales -->            
                <hr class="hr-header">
                <!-- general form elements -->
                <div class="box box-style">
                
                    <!-- form start -->
                    <div class="box-body">
                        <div class="form-group">
                              <label for="name">Имя</label>
							  <input type="text" class="form-control" name="name" [(ngModel)]="data.name">
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <hr class="hr-body">
                    <div class="box-footer">
					            <button type="submit" class="btn btn-default btn-sm btn-flat" (click)="onClickBack()"><i class="glyphicon glyphicon-menu-left"></i> Назад</button>
						          <button type="submit" class="btn btn-primary pull-right btn-sm btn-flat" (click)="onUpdate()"><i class="glyphicon glyphicon-floppy-disk"></i> Создать</button>
                      </div>
                </div>
                <!-- /.box -->
            </div>
    </div>
</section><!-- /.content  -->

