<section class="content">
    <!-- Custom tabs (Charts with tabs)-->
    <div class="nav-tabs-custom">
        <!-- Tabs within a box -->
        <ul class="nav nav-tabs pull-right">          
            <li class="pull-left header"><h4>Заявка №{{ticket.ticketNumber}}</h4></li>
        </ul>
        <div class="tab-content no-padding">
            <!-- Morris chart - Sales -->            
                <hr class="hr-header">
                <!-- general form elements -->
                <div class="box box-style">              
                    <!-- form start -->
                    <div class="box-body"> 
                       <div class="form-group">
                            <label for="status">Статус заявки</label>
                            <app-ticket-status-select [(status)]="ticket.status" (change)="onStatusChange($event.target.value)"> </app-ticket-status-select>
                        </div>
                        <div class="form-group">
                            <label for="priority">Приоритет по заявке</label>
                            <app-ticket-priority-select [(priority)]="ticket.priority" (change)="onPriorityChange($event.target.value)"> </app-ticket-priority-select>
                        </div>
                       <div class="form-group">
                            <label for="client">Клиент</label>
                            <app-client-select [(client)]="ticket.clientId" (change)="onClientChange($event.target.value)"></app-client-select>
                        </div>
                       <div class="form-group">
                            <label for="contract">Договор на оказание услуг</label>
                            <app-contract-select [(client)]="ticket.clientId"  [(contract)]="ticket.contract" (change)="onContractChange($event.target.value)"></app-contract-select>
                        </div> 
                        <div class="form-group">
                            <label for="address">Адрес</label>
                            <app-address-select [(client)]="ticket.clientId" [(address)]="ticket.addressId" (change)="onAddressChange($event.target.value)"></app-address-select>
                        </div>
                         <div class="form-group">
                            <label for="user">Заявитель</label>
                            <app-user-select [(client)]="ticket.clientId" [(user)]="ticket.applicantId" (change)="onUserChange($event.target.value)"></app-user-select>
                        </div>
                         <div class="form-group">
                            <label for="operator">Оператор</label>
                            <app-user-select [(client)]="companyId" [(user)]="ticket.operatorId" (change)="onOperatorChange($event.target.value)"></app-user-select>
                        </div>
                        <div class="form-group">
                              <label for="startDate">Дата подачи заявки</label>
							  <input type="datetime-local" class="form-control" name="startDate" [(ngModel)]="ticket.startDate">
                        </div>
                        <div class="form-group">
                              <label for="endDate">Дата закрытия заявки</label>
							  <input type="datetime-local" class="form-control" name="endDate" [(ngModel)]="ticket.endDate">
                        </div> 
                        <div class="form-group">
                            <label for="description">Описание</label>
                            <textarea class="form-control" rows="3" [(ngModel)]="ticket.description" name="description" placeholder="Опишите проблему ..." required></textarea>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <hr class="hr-body">
                    <div class="box-footer">
					    <button type="submit" class="btn btn-default btn-sm btn-flat" (click)="onClickBack()"><i class="glyphicon glyphicon-menu-left"></i> Отменить</button>
						<button type="submit" class="btn btn-primary pull-right btn-sm btn-flat" (click)="onUpdate()"><i class="glyphicon glyphicon-floppy-disk"></i> Создать</button>
                      </div>
                </div>
                <!-- /.box -->
            </div>
    </div>
</section><!-- /.content  -->


