<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
   Настройки SMTP
    <small></small>
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <!-- general form elements -->
  <div class="box box-primary">
    <!-- form start -->
    <form role="form">
      <div class="box-body">
        <div class="form-group">
          <label for="name">Сервер</label>
          <input type="text" class="form-control" name="server" [(ngModel)]="SmtpSettings.server">
        </div>
        <div class="form-group">
          <label for="name">Порт</label>
          <input type="text" class="form-control" name="port" [(ngModel)]="SmtpSettings.port">
        </div>
      </div>

      <!-- /.box-body -->

      <div class="box-footer">
        <button type="submit" class="btn btn-default" (click)="onClickBack()"><i class="glyphicon glyphicon-menu-left"></i> Назад</button>
        
        <button type="submit" class="btn btn-info pull-right" (click)="onUpdate()"><i class="glyphicon glyphicon-save"></i> Сохранить</button>
      </div>
    </form>
  </div>
  <!-- /.box -->

</section><!-- /.content -->

